<ion-header>
    <ion-navbar>
        <ion-title>
            {{this.navParams.get('friend_name')}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>


        <ion-row *ngFor="let item of messageArray">

            <ion-col col-9 *ngIf="item.sendername === username" class="message" [ngClass]="{'my_message': item.sendername === username, 'other_message': item.sendername !== username}">
                <span class="my_user_name">{{ item.sendername }}:</span><br>
                <span>{{ item.message }} </span>
            </ion-col>
            <ion-col col-9 *ngIf="item.sendername !== username" class="message" [ngClass]="{'my_message': item.sendername === username, 'other_message': item.sendername !== username}">
                <span class="friend_user_name">{{ item.sendername }}:</span><br>
                <span>{{ item.message }} </span>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>


<ion-footer>
    <ion-toolbar>

        <ion-row class="message_row">
            <ion-col col-10>
                <ion-item no-lines>
                    <ion-input type="text" placeholder="Message" [(ngModel)]="messageText"></ion-input>

                </ion-item>

            </ion-col>
            <ion-col col-2>


            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <button full round ion-button (click)="sendmessage()">
                   Send <ion-icon class='send_icon' name="send"></ion-icon>
    </button>

            </ion-col>
        </ion-row>

    </ion-toolbar>
</ion-footer>