<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

        <ion-title>
            Client Profile
        </ion-title>

    </ion-navbar>
</ion-header>
<ion-content padding id="page6">

    <ion-item>
        <div class="imgcontent">
            <div class="profileimage">
                <img class='image profile_image_common_style' src="../../assets/profile.png" *ngIf='!base64Image' />
                <img class='image profile_image_common_style' [src]="base64Image" *ngIf='base64Image' />

                <div class='toggleicon' (click)='imgopttoggle()'>
                    <ion-icon name='camera'></ion-icon>
                </div>
                <div class='imagepopup' *ngIf='imgopt_toggle'>
                    <ion-col>
                        <div class='popupicons'> <button ion-button ion-button small icon-only (tap)='opencamera()'>
                                <ion-icon name='camera'>Camera</ion-icon>
                 </button>
                        </div>

                    </ion-col>
                    <ion-col>

                        <div class='popupicons'> <button ion-button small icon-only (click)='AccessGallery()'>
                
                  <ion-icon  name='image'>Gallery</ion-icon>
                
                 </button></div>

                    </ion-col>
                    <ion-col>

                        <div class='popupicons'> <button ion-button small icon-only (click)='removephoto()'>
                
                  <ion-icon  name='md-close-circle'> Remove</ion-icon>
                
                 </button></div>

                    </ion-col>
                </div>
            </div>


        </div>
    </ion-item>
    <div class="input">
        <div>
            <ion-label>
                Firstname
            </ion-label>
        </div>
        <ion-item>
            <ion-input [(ngModel)]='firstname' [readonly]='isreadonly'></ion-input>
        </ion-item>
        <div class='editico' (tap)='toggleedit()'>
            <ion-icon *ngIf='isreadonly' name="create"></ion-icon>
            <ion-icon *ngIf='!isreadonly' name="checkmark"></ion-icon>
        </div>

    </div>
    <div class="input">
        <div>
            <ion-label>
                Lastname
            </ion-label>
        </div>
        <ion-item>
            <ion-input [(ngModel)]='lastname' [readonly]='isreadonly'></ion-input>
        </ion-item>
        <div class='editico' (tap)='toggleedit()'>
            <ion-icon *ngIf='isreadonly' name="create"></ion-icon>
            <ion-icon *ngIf='!isreadonly' name="checkmark"></ion-icon>
        </div>
    </div>
    <!-- <div class="input">
        <div>
            <ion-label>
                Username
            </ion-label>
        </div>
        <ion-item>
            <ion-input [(ngModel)]='username' [readonly]='isreadonly'></ion-input>
        </ion-item>
        <div class='editico' (tap)='toggleedit()'>
            <ion-icon *ngIf='isreadonly' name="create"></ion-icon>
            <ion-icon *ngIf='!isreadonly' name="checkmark"></ion-icon>
        </div>
    </div> -->
    <div class="button">
        <ion-item>
            <button ion-button (tap)='updateprofile()'>Update</button>
        </ion-item>
    </div>