<ion-menu [content]="mycontent" id='myprofile' type='overlay'>
    <ion-content class='side_menu' #mycontent>
        <div class='side_menu_details'>
            <img class='profile_image_common_style' id="profile-image" *ngIf='!proimage' src="../../assets/profile.png" imageViewer>
            <img class='profile_image_common_style' id="profile-image" *ngIf='proimage' [src]='proimage' imageViewer>
            <p class='sidemenu_text'>{{username}}</p>

        </div>
        <ion-list>
            <ion-item>

                <ion-label>
                    <div class='sidemenu_text' (tap)='logout()'>
                        <div class='sidemenu_text'>Logout</div>
                        <div class='sidemenu_logout_icon'>
                        </div>
                    </div>
                    <hr>
                    <div class='sidemenu_text' (tap)='gotoeditprofile()'>
                        <div class='sidemenu_text'>Edit</div>
                        <div class='sidemenu_edit_icon'>
                        </div>
                    </div>
                </ion-label>

            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-header>
    <ion-navbar>
        <ion-title>
            <div class=linemain>
                <div style='cursor: pointer;' (tap)='menutoggle()'>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                </div>
                <!-- <div class="logo"> </div> -->
                <div class='heading'>My Profile</div>

            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content has-header="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pull></ion-refresher-content>
    </ion-refresher>
    <div id="profile-bg"></div>
    <div id="content">
        <div id="profile-info">
            <img class='profile_image_common_style' id="profile-image" *ngIf='!proimage' src="../../assets/profile.png" imageViewer>
            <img class='profile_image_common_style' id="profile-image" *ngIf='proimage' [src]='proimage' imageViewer>
            <h3 id="profile-name">{{username|uppercase}}</h3>
            <div class="personalInfo">
                <div class="personalInfo2">
                    <ion-icon name="calendar" *ngIf='dateOfBirth'></ion-icon>
                    <span id="profile-description" *ngIf='dateOfBirth'>{{dateOfBirth}}</span>
                </div>
                <div class="personalInfo1">
                    <ion-icon [style.color]="gender=='male'?'blue':''" *ngIf="gender=='male'" name="male"></ion-icon>
                    <ion-icon [style.color]="gender=='female'?'deeppink':''" *ngIf="gender=='female'" name="female"></ion-icon>
                </div>
            </div>

        </div>
    </div>

    <ion-card *ngFor='let i of post,let j=index '>
        <ion-item-divider>
            <ion-item class='post_profile_info'>
                <ion-avatar class='post_profile_avatar' item-start>
                    <img class='profile_image_common_style ' *ngIf='proimage ' [src]="proimage" imageViewer>
                    <img class='profile_image_common_style ' *ngIf='!proimage ' src='../../assets/profile.png ' imageViewer>
                </ion-avatar>
                <div class='post_profile_name'>{{i.username}}</div>
                <div class="dcicon" *ngIf='userid==i.userid ' (click)='deletepost(i._id) '>
                </div>
            </ion-item>
            <hr>

            <!-- <img src="img/advance-card-bttf.png"> -->

            <ion-card-content>
                <p *ngIf="i.post">{{i.post}}</p>
                <img *ngIf="i.postimg" [src]='i.postimg' imageViewer />
                <div class='currentdate '>{{i.time|timeAgo}}</div>
            </ion-card-content>
        </ion-item-divider>
        <ion-row>

            <ion-col>
                <button ion-button icon-start clear small>
                    <ion-icon *ngIf='!liketoggle[i._id] ' name="ios-thumbs-up-outline"></ion-icon>
                    <ion-icon *ngIf='liketoggle[i._id] ' name="thumbs-up"></ion-icon>
      <div (click)="addlikes(j,userid,i._id)"><span style="color:black; ">{{i.likes}}</span> Like</div>
    </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small>
      <ion-icon name="text"></ion-icon>
      <div (click)='showcommenttoggle(j) '> View Comments</div>
    </button>
            </ion-col>

        </ion-row>

        <ion-row *ngIf='showcommenttoggle1[j] '>
            <div *ngFor='let c of dispcomment ' style="width:100%">
                <ion-card *ngIf='i._id==c.postid '>

                    <ion-item>
                        <!-- <ion-avatar item-start>
              <img src="img/marty-avatar.png">
          </ion-avatar> -->
                        <h2 style="color:mediumblue;">{{c.username}}</h2>

                        <div class="dcicon" *ngIf='userid==c.userid ' (click)='deletecomment(c._id) '></div>


                    </ion-item>

                    <!-- <img src="img/advance-card-bttf.png"> -->

                    <ion-card-content>
                        <p>{{c.comment}}</p>
                    </ion-card-content>

                </ion-card>
            </div>
        </ion-row>
        <ion-row>
            <div class='comment ' *ngIf='showcommenttoggle1[j]'>
                <ion-item>
                    <ion-textarea rows="4" [(ngModel)]='comments[j] ' type="text" placeholder="Comment .... "></ion-textarea>
                </ion-item>


                <button ion-button small float-right round (click)="addcomment(i._id,userid,j,username)">Add Comment</button>
            </div>
        </ion-row>

    </ion-card>
</ion-content>