    * {
        font-family: 'Arvo', serif;
    }
    
    .input-cover {
        height: auto !important;
    }
    
    .toolbar-background-md {
        border-color: darkslateblue;
        background: darkslateblue;
    }
    
    .side_menu {
        background: linear-gradient(45deg, slateblue, transparent);
        filter: blur(0.3px);
    }
    
    .side_menu_details {
        width: 100%;
        height: 200px;
        background-color: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 3px 18px white;
    }
    
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: white;
        font-family: 'Special Elite', cursive;
    }
    
    .welcome_text {
        padding: 5px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media only screen and(max-width: 380px) {
            font-size: 16px;
        }
    }
    
    .story-thumbnail {
        margin: 0 auto;
        width: 65px;
        height: 65px;
        border: 2px solid black;
        border-radius: 50%;
    }
    
    .story-thumbnail-image {
        border-radius: 50% !important;
        width: 100% !important;
        height: 100% !important;
    }
    
    .add_icon {
        position: absolute;
        bottom: 0;
    }
    
    .story-thumbnail-font {
        font-size: 10px;
    }
    
    .plus {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .add_icon {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 0;
        right: 14px;
        box-shadow: 7px 2px 6px -1px black;
        border-radius: 50%;
        font-size: 22px;
        color: honeydew;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .dicon {
        width: 20px;
        height: 20px;
        background-image: url('../../assets/delete.png');
        background-size: cover;
        position: absolute;
        top: 12px;
        right: 59px;
        z-index: 2;
        cursor: pointer;
    }
    
    .dcicon {
        width: 20px;
        height: 20px;
        background-image: url('../../assets/delete.png');
        background-size: cover;
        position: absolute;
        top: 12px;
        right: 8px;
        z-index: 2;
        cursor: pointer;
    }
    
    .card-md {
        position: relative;
    }
    
    .popuptext {
        color: black;
        z-index: 2;
    }
    
    .dots {
        display: flex;
        position: absolute;
        top: 1px;
        right: 2px;
    }
    
    .dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: black;
        margin-right: 3px;
    }
    
    .but {
        display: flex;
        justify-content: center;
    }
    
    .line {
        width: 40px;
        margin-bottom: 5px;
        margin-right: 50px;
        height: 5px;
        background-color: black;
    }
    
    .popup {
        width: 140px;
        height: 80px;
        position: absolute;
        top: 23px;
        z-index: 100;
        transition: 1s ease-in;
        right: 10px;
        border-radius: 5%;
        display: flex;
        padding: 15px;
        flex-direction: column;
        justify-content: start;
        background-color: white;
        box-shadow: 4px 3px 14px 0px rgba(0, 0, 0, 0.75);
    }
    
    .currentdate {
        position: absolute;
        bottom: 10px;
        right: 6px;
        font-size: 10px;
    }
    
    .currentLocation {
        bottom: 10px;
        left: 0px;
        font-size: 10px;
    }
    
    .currentdate1 {
        position: absolute;
        bottom: 10px;
        right: 60px;
        font-size: 10px;
    }
    
    .hand {
        background-image: url('../../assets/hand.gif');
        width: 32px;
        height: 30px;
        background-size: cover;
    }
    
    .linemain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .comment {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    
    .profile_image_common_style {
        object-fit: cover;
    }
    
    .username_style {
        padding: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .proimg {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
    }
    
    .post_image {
        background-position: center;
        width: 100%;
        background-size: 100% 100%;
        // height: 500px;
        display: block;
        background-repeat: no-repeat;
    }
    
    .my-custom-menu {
        --width: 500px;
    }
    
    .but1 {
        margin: 20px 0;
        width: 50%;
        height: 4rem;
        background-color: blueviolet;
        display: flex;
        align-items: center;
        border-radius: 5%;
        justify-content: center;
        font-size: 18px;
        font-family: 'Righteous', cursive;
    }
    
    .sidemenu_logout_icon {
        background-image: url('../../assets/logout.png');
        background-size: cover;
        width: 30px;
        height: 28px;
    }
    
    .sidemenu_edit_icon {
        background-image: url('../../assets/edit_icon.png');
        background-size: cover;
        width: 30px;
        height: 29px;
        ;
    }
    
    .logo {
        height: 73px;
        width: 74px;
        // background-position: center;
        // background-size: cover;
        // background-image: url('../../assets/icon.png');
    }
    
    .post_profile_info {
        padding-left: 0 !important;
    }
    
    .post_profile_avatar {
        margin: 0 10px 0 0 !important;
    }
    
    .post_profile_name {
        text-transform: capitalize;
        color: black;
        font-size: 15px;
        text-shadow: 0.5px 0.5px black;
    }
    
    .sidemenu_text {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 24px;
        letter-spacing: 1.8px;
        color: #000000;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-style: normal;
        font-variant: small-caps;
        text-transform: none;
    }
    
    #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    }