<ion-menu [content]="mycontent" id='home' type='overlay'>
    <ion-content class='side_menu' #mycontent>
        <div class='side_menu_details'>
            <img class='profile_image_common_style' id="profile-image" *ngIf='!profileimage[userid]' src="../../assets/profile.png" imageViewer>
            <img class='profile_image_common_style' id="profile-image" *ngIf='profileimage[userid]' [src]='profileimage[userid]' imageViewer>
            <p class='sidemenu_text'>{{username}}</p>
        </div>
        <ion-list>
            <ion-item>
                <ion-label>
                    <div class='sidemenu_text' (tap)='logout()'>
                        <div class='sidemenu_text'>Logout</div>
                        <div class='sidemenu_logout_icon'>
                        </div>
                    </div>
                    <hr>
                    <div class='sidemenu_text' (tap)='gotoeditprofile()'>
                        <div class='sidemenu_text'>Edit</div>
                        <div class='sidemenu_edit_icon'>
                        </div>
                    </div>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-header>
    <ion-navbar>
        <ion-title>
            <div class=linemain>
                <div style='cursor: pointer;' (tap)='menutoggle()'>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                </div>
                <!-- <div class="logo"> </div> -->
                <div class='heading'>News Feed</div>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (disabled)='disabled' (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pull></ion-refresher-content>
    </ion-refresher>
    <ion-fab right bottom>
        <button ion-fab style='background: darkslateblue;' (click)='addpost()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <BR>

    <!-- <div class='but'>
        <div class='writeicon'></div>
        <div class='but1' (click)='gotoaddpost()'>Add New Post</div>
    </div> -->
    <ion-slides style="height:auto;" spaceBetween="0" slidesPerView="auto">
        <ion-slide style="padding:5px; padding-bottom:0px; max-width:95px;" *ngIf='!myStoryImage'>
            <div>

                <div class='story-thumbnail'>
                    <div class='add_icon'>
                        <div class='plus' (click)='openActionSheet()'>+</div>
                    </div>
                    <img [src]="profileimage[userid] || '../../assets/profile.png'" class='story-thumbnail-image profile_image_common_style' (click)='openActionSheet()' />
                </div>
                <p text-center class='story-thumbnail-font'>Post Story</p>
            </div>
        </ion-slide>
        <ion-slide style="padding:5px; padding-bottom:0px; max-width:95px;" *ngIf='myStoryImage'>
            <div>
                <div class='story-thumbnail'>
                    <img [src]='myStoryImage' class='story-thumbnail-image profile_image_common_style' (click)='showStory(myStoryId)' />
                </div>
                <p text-center class='story-thumbnail-font'>See my Story</p>
            </div>
        </ion-slide>

        <div *ngFor="let stories of story">
            <ion-slide style="padding:5px; padding-bottom:0px; max-width:95px;" *ngIf='stories.userid!=userid'>
                <div>

                    <div class='story-thumbnail'>
                        <img [src]="stories.story" class='story-thumbnail-image profile_image_common_style' (click)='showStory(stories._id)' />
                    </div>
                    <p text-center class='story-thumbnail-font'>{{stories.username}}</p>
                </div>
            </ion-slide>
        </div>
    </ion-slides>
    <div class='loader' *ngIf='!post'>
        <content-loader>
            <svg:rect x="15" y="15" rx="1" ry="1" width="60" height="60" />
            <svg:rect x="90" y="25" rx="3" ry="3" width="260" height="15" />
            <svg:rect x="90" y="45" rx="3" ry="3" width="150" height="15" />
        </content-loader>
        <br>
    </div>
    <div *ngFor='let i of post,let j=index'>
        <ion-card *ngFor='let allFrnds of allfriendsList'>
            <div *ngIf='i.userid==allFrnds._id || (i.userid==userid)'>
                <div>
                    <ion-item-divider>
                        <ion-item class='post_profile_info'>

                            <ion-avatar class='post_profile_avatar' item-start>
                                <img class='profile_image_common_style' *ngIf='profileimage[i.userid]' [src]="profileimage[i.userid]" imageViewer>
                                <img class='profile_image_common_style' *ngIf='!profileimage[i.userid]' src='../../assets/profile.png' imageViewer>

                            </ion-avatar>
                            <div class='post_profile_name' (click)='gotoprofile(i.userid)'>{{i.username}}</div>
                            <div class='currentLocation'>{{i.postedplace}}</div>
                            <div class="dots" *ngIf='userid==i.userid' (click)='popuptoggle1(j)'>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </ion-item>
                        <hr>
                        <ion-card-content>
                            <p *ngIf="i.post">{{i.post}}</p>
                            <img *ngIf="i.postimg" [src]='i.postimg' imageViewer />
                            <!-- <div class='currentdate1'>{{i.time|date:'h'}}</div> -->
                            <div class='currentdate'>{{i.time|timeAgo}}</div>
                        </ion-card-content>
                    </ion-item-divider>
                    <div class='popup' *ngIf='popuptoggle[j]'>
                        <!-- <img src="img/advance-card-bttf.png"> -->
                        <div class='popuptext' (click)='deletepost(i._id,j)'>
                            <b style='color:red'>Delete  <ion-icon name="trash"></ion-icon></b>

                        </div>
                        <br>
                        <div *ngIf="i.postimg" class='popuptext' (click)='shareImg(i.postimg,j)'>
                            <b style='color:slateblue'>Share <ion-icon name="ios-share-alt"></ion-icon></b>

                        </div>
                    </div>
                    <ion-row>
                        <ion-col>
                            <button style="color:darkslateblue" ion-button icon-start clear small>
        <ion-icon *ngIf='!liketoggle[i._id]' name="ios-thumbs-up-outline"></ion-icon>
        <ion-icon *ngIf='liketoggle[i._id]' name="ios-thumbs-up"></ion-icon>
                <div (click)="addlikes(j,userid,i._id,username)"><span style="color:black; ">{{i.likes}}</span> Like</div>
                </button>
                        </ion-col>
                        <ion-col>
                            <button style="color:darkslateblue" ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div (click)='showcommenttoggle(i._id)'>Comments</div>
      </button>
                        </ion-col>

                    </ion-row>
                    <!-- 
        <div *ngIf='showcommenttoggle1[j]'>
            <div *ngFor='let c of dispcomment'>
                <ion-card *ngIf='i._id==c.postid'>

                    <ion-item>
                         <ion-avatar item-start>
                <img src="img/marty-avatar.png">
            </ion-avatar> 
                        <h2 style="color:mediumblue;">{{c.username}}</h2>
                        <div class="dcicon" *ngIf='userid==c.userid' (click)='deletecomment(c._id)'>
                        </div>
                    </ion-item>
                    <img src="img/advance-card-bttf.png"> 
                    <ion-card-content>
                        <p>{{c.comment}}</p>
                    </ion-card-content>

                </ion-card>
            </div>
        </div> -->
                    <ion-row>
                        <div *ngIf='showcommenttoggle1[j]' class='comment'>
                            <ion-item>
                                <ion-textarea rows="4" [(ngModel)]='comments[j]' type="text" placeholder="Comment .... "></ion-textarea>
                            </ion-item>
                            <button ion-button small float-right round (click)="addcomment(i._id,userid,j,username)">Add Comment</button>
                        </div>
                    </ion-row>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>