.maincontent {
    width: 100%;
    height: 80%;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.loginlogo {
    background-image: url('../assets/login.png');
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 260px;
    max-height: 300px;
    background-size: cover;
}

.login {
    border: 5px solid steelblue;
}

.text-input::-moz-placeholder {
    color: black;
}

.text-input:-ms-input-placeholder {
    color: black;
}

.text-input::-webkit-input-placeholder {
    color: black;
}

.card1 {
    width: 100%;
    height: 20%;
    padding: 15px 15px;
    background: inherit;
    justify-content: center;
    flex-direction: column;
    margin-top: 40%;
}

.bannerImage {
    background: url("../../assets/banner_image.png");
    background-size: cover;
    width: 100%;
    transition: 0.5s;
}

.card2 {
    width: 100%;
    height: 20%;
    padding: 15px 15px;
    background: inherit;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%
}

ion-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ion-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ion-item.item {
    background-color: transparent;
    margin-bottom: 1px;
    color: black;
    .label {
        width: 10%;
        color: black;
        font-size: 1.2em;
    }
}

.alert-wrapper {
    transform: translateY(14rem) !important;
    .alert-title {
        text-align: center;
    }
    .alert-sub-title {
        text-align: center;
    }
    .alert-message {
        text-align: center;
        color: black;
    }
    .alert-button-group {
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .alert-button {
        display: flex !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        background-color: blueviolet;
        color: white;
    }
}

ion-loading.custom-loading {
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
    }
}