<ion-header>
    <ion-navbar>
        <ion-title>
            <div class=linemain>
                <div class='heading'>Add Post</div>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="content">
        <h5>Write Your Post here...</h5>
        <ion-textarea rows="8" cols="20" [(ngModel)]='mypost' placeholder="Whats in Your mind..."></ion-textarea>
        <div class='toggleicon' (tap)='ImageOptionToggle()'>
            <ion-icon class='imagetoggleicon' name='image'></ion-icon>
        </div>
        <div class='imagepopup1' *ngIf='imageOptionToggle'>
            <ion-col>
                <div class='popupicons'> <button ion-button ion-button small icon-only (tap)='opencamera()'>
                    <ion-icon name='camera'>CAMERA</ion-icon>
     </button>
                </div>
            </ion-col>
            <ion-col>
                <div class='popupicons'> <button ion-button small icon-only (click)='AccessGallery()'>
    
      <ion-icon  name='image'>GALLERY</ion-icon>
     </button></div>
            </ion-col>
            <ion-col>
                <div class='popupicons'> <button ion-button small icon-only (click)='removeimage()'>
    
      <ion-icon  name='md-close-circle'>REMOVE PHOTO</ion-icon>
    
     </button></div>
            </ion-col>
        </div>
        <img class='image1' [src]="postImage" *ngIf='postImage' />

        <br>
        <div class="but">
            <button ion-button style="background-color:darkslateblue" (click)='addpost()'>Add</button>
        </div>
    </div>
    <ion-item-divider></ion-item-divider>
</ion-content>