.bar-button-default-md {
    color: white;
}

textarea.text-input {
    background-color: lightgrey;
    color: black;
}

.line {
    width: 40px;
    margin-bottom: 5px;
    margin-right: 5%;
    height: 5px;
    background-color: black;
}

.logo {
    height: 73px;
    width: 74px;
    background-position: center;
    background-size: cover;
    background-image: url('../../assets/logo.gif');
}

.linemain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image1 {
    min-width: 100%;
    width: 100%;
    height: auto;
}

.imagepopup1 {
    display: flex;
    flex-direction: column;
    height: 110px;
    height: 131px;
    position: absolute;
    top: 89px;
    right: 10px;
    z-index: 1000;
    border-radius: 7%;
    background-color: black;
    border: 1px solid black;
}

.imagetoggleicon {
    font-size: 33px;
    position: absolute;
    top: 61px;
    right: 29px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.but {
    width: 100%;
    display: flex;
    justify-content: center;
}