<ion-header>
    <ion-navbar>
        <ion-title>
            <div class=linemain (tap)='menutoggle()'>
                <!-- <div style='cursor: pointer;'>
                    <div class='line'></div>
                    <div class='line'></div>
                    <div class='line'></div>
                </div> -->

                <div class='heading' style='text-transform: capitalize;'>{{username}}'s Profile</div>

            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content has-header="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pull></ion-refresher-content>
    </ion-refresher>
    <div id="profile-bg"></div>
    <div id="content">
        <div id="profile-info">
            <img class='profile_image_common_style' id="profile-image" *ngIf='!proimage' src="../../assets/profile.png" imageViewer>
            <img class='profile_image_common_style' id="profile-image" *ngIf='proimage' [src]='proimage' imageViewer>
            <h3 id="profile-name">{{username|uppercase}}</h3>
        </div>
    </div>

    <ion-card *ngFor='let i of post,let j=index'>
        <ion-item-divider>
            <ion-item class='post_profile_info'>
                <ion-avatar class='post_profile_avatar' item-start>
                    <img class='profile_image_common_style' *ngIf='proimage' [src]="proimage" imageViewer>
                    <img class='profile_image_common_style' *ngIf='!proimage' src='../../assets/profile.png' imageViewer>
                </ion-avatar>
                <div class='post_profile_name'>{{i.username}}</div>
                <div class="dcicon" *ngIf='loggeduserid==i.userid' (click)='deletepost(i._id)'>
                </div>
            </ion-item>
            <hr>
            <!-- <img src="img/advance-card-bttf.png"> -->

            <ion-card-content>
                <p *ngIf="i.post">{{i.post}}</p>
                <img *ngIf="i.postimg" [src]='i.postimg' imageViewer />
                <div class='currentdate'>{{i.time|timeAgo}}</div>
            </ion-card-content>
        </ion-item-divider>
        <ion-row>

            <ion-col>
                <button ion-button icon-start clear small style="color:darkslateblue">
                    <ion-icon *ngIf='!liketoggle[i._id]' name="ios-thumbs-up-outline"></ion-icon>
                    <ion-icon *ngIf='liketoggle[i._id]' name="thumbs-up"></ion-icon>
    <div (click)="addlikes(j,userid,i._id)"><span style="color:black; ">{{i.likes}}</span> Like</div>
  </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small style="color:darkslateblue">
    <ion-icon name="text"></ion-icon>
    <div (click)='showcommenttoggle(j)'>Comments</div>
  </button>
            </ion-col>

        </ion-row>

        <ion-row *ngIf='showcommenttoggle1[j]'>
            <div style='width: 100%;' *ngFor='let c of dispcomment'>
                <ion-card *ngIf='i._id==c.postid'>

                    <ion-item>
                        <!-- <ion-avatar item-start>
            <img src="img/marty-avatar.png">
        </ion-avatar> -->
                        <h2 style="color:mediumblue;">{{c.username}}</h2>
                        <div class="dcicon" *ngIf='loggeduserid==c.userid' (click)='deletecomment(c._id)'></div>

                    </ion-item>

                    <!-- <img src="img/advance-card-bttf.png"> -->

                    <ion-card-content>
                        <p>{{c.comment}}</p>
                    </ion-card-content>

                </ion-card>
            </div>
        </ion-row>
        <ion-row>
            <div class='comment' *ngIf='showcommenttoggle1[j]'>
                <ion-item>
                    <ion-textarea rows="4" [(ngModel)]='comments[j]' type="text" placeholder="Comment .... "></ion-textarea>
                </ion-item>


                <button ion-button small float-right round (click)="addcomment(i._id,userid,j,username)">Add Comment</button>
            </div>
        </ion-row>

    </ion-card>
</ion-content>