.post_profile_info {
    padding-left: 0 !important;
}

.post_profile_avatar {
    margin: 0 10px 0 0 !important;
}

.post_profile_name {
    text-transform: capitalize;
    color: black;
    font-size: 15px;
    text-shadow: 0.5px 0.5px black;
}