<ion-header>
    <ion-navbar>
        <ion-title>
            Chat
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-label *ngFor='let gd of groupdetail'>Created by....{{gd.username}}</ion-label>
        <button ion-button (click)="leave()">Leave</button>
        <ion-row *ngFor="let item of messageArray">

            <ion-col col-9 *ngIf="item.user !== username" class="message" [ngClass]="{'my_message': item.user === username, 'other_message': item.user !== username}">
                <span class="user_name">{{ item.user }}:</span><br>
                <span>{{ item.message }}</span>

            </ion-col>

            <ion-col offset-3 col-9 *ngIf="item.user === username" class="message" [ngClass]="{'my_message': item.user === username, 'other_message': item.user !== username}">
                <span class="user_name">{{ item.user }}:</span><br>
                <span>{{ item.message }}</span>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row class="message_row">
            <ion-col col-9>
                <ion-item no-lines>
                    <ion-input type="text" placeholder="Message" [(ngModel)]="messageText"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-3>
                <button ion-button (click)="sendMessage()">
        Send
      </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>